*{
    margin: 0;
    padding: 0;
}

body{
    background-color:  hsl(233, 47%, 7%);
}

.container{
    width: 80%;
    margin:  auto;
    background-color: hsl(244, 38%, 16%);
    border-radius: 5px;
}
.container img{
    width: 100%;
    height: auto;
}

.container p{color: hsla(0, 0%, 100%, 0.75);}
.container h2{color:  hsl(0, 0%, 100%);}